h2 {
    color: #737475;
    font-family: 'Montserrat', sans-serif;
}
.form {
    background: #fff;
    margin: 40px auto;
    padding: 50px;
    width: 400px;
    border-radius: 4px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, .2);
}